
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Cadastro</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Nome</label>  
  <div class="col-md-4">
  <input id="nome" ng-model="usuario.nome" type="text" placeholder="Digite seu nome completo" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" ng-model="usuario.email" type="text" placeholder="digite seu email" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Senha</label>
  <div class="col-md-4">
    <input id="password" ng-model="usuario.password" type="password" placeholder="digite sua senha" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="cadastrar"></label>
  <div class="col-md-4">
    <button id="cadastrar" name="cadastrar" class="btn btn-primary" ng-click="cadastrarUsuario()">Cadastrar</button>
  </div>
</div>

</fieldset>
</form>