<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1" ></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="https://static.wixstatic.com/media/3b1f25_ec725068e92c4af5bad7df271d651a49.jpg/v1/fill/w_2044,h_656,al_c,q_85,usm_0.66_1.00_0.01/3b1f25_ec725068e92c4af5bad7df271d651a49.jpg" alt=""/>
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="https://static.wixstatic.com/media/3b1f25_c8a1345e949a44ffbfa2b61a2569a28f.jpg/v1/fill/w_983,h_656,al_c,q_85,usm_0.66_1.00_0.01/3b1f25_c8a1345e949a44ffbfa2b61a2569a28f.jpg" alt=""/>
                            </div>
                            <div class="item ">
                                <img class="img-responsive img-full" src="https://static.wixstatic.com/media/3b1f25_d6aeb137f2ce4a4fb5af06fbba6a47b5.jpg/v1/fill/w_983,h_656,al_c,q_85,usm_0.66_1.00_0.01/3b1f25_d6aeb137f2ce4a4fb5af06fbba6a47b5.jpg" alt=""/>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Bem Vindo !!</small>
                    </h2>
                    <h1 class="brand-name">Portal de Saúde</h1>
                    <hr class="tagline-divider"/>
                    <h2>
                        <small>Pela
                            <strong>Preguiça e Trabalho fácil</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr/>
                    <h2 class="intro-text text-center">Melhorando seu dia
                        <strong>Vale a pena visitar</strong>
                    </h2>
                    <hr/>
                    <img class="img-responsive img-border img-left" src="img/img02.jpg" alt=""/>
                    <hr class="visible-xs"/>
                    <p>Pensando mais a longo prazo, o acompanhamento das preferências de consumo representa uma abertura para a melhoria das posturas dos órgãos dirigentes com relação às suas atribuições. Percebemos, cada vez mais, que a complexidade dos estudos efetuados auxilia a preparação e a composição de todos os recursos funcionais envolvidos. A prática cotidiana prova que a contínua expansão de nossa atividade garante a contribuição de um grupo importante na determinação do sistema de participação geral. </p>
                    <p>Um grande obrigado <a href="http://google.com" target="_blank">Dr.Google</a> Por nos ensinar tudo o que não sabemos</p>
                  
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr/>
                    <h2 class="intro-text text-center">Lindo o site
                        <strong>que eu fiz</strong>
                    </h2>
                    <hr/>
                    <p> Fazendo o backend vai ficar muito bom</p>
                    <p> Soh ir adicionando as parada que da certo</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                
        		</div>
            </div>
        </div>        

    </div>
