<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login Sistema Saude</h1></br>
				  <form>
					<input type="text" name="email" placeholder="Email"/>
					<input type="password" name="pass" placeholder="Password"/>
					<input type="submit" name="login" class="login loginmodal-submit" value="Login" ng-click = "Logar()"/>
				  </form>
					
				  <div class="login-help">
					<a href="/cadastro-usuario">Cadastre-se</a> - <a href="#">Recuperar Senha</a>
				  </div>
				</div>
			</div>
		  </div>