<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Login</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="digite seu email" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Senha</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="digite sua senha" class="form-control input-md" required="">
    <a href="/recuperar-senha"><span class="help-block">esqueceu sua senha ?</span></a>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="logar"></label>
  <div class="col-md-4">
    <button id="logar" name="logar" class="btn btn-success">Logar</button>
  </div>
</div>

</fieldset>
</form>