<div class="container">

	<div class="row">
		<div class="col-md-6">
			<h2>Locais</h2>
			<div id="map"></div>
		</div>
		<div class="col-md-6">
			<form class="form-horizontal" ng-submit="cadastrar()">
				<fieldset>
					<legend>Cadastrar</legend>
					<div class="form-group">
						<div class="row">
							<label class="col-md-2 control-label" for="endereco">Endereco:</label>
							<div class="col-md-10">
								<input ng-model="local.enderecoPostal" id="endereco" name="endereco" type="text" placeholder="Digite a localidade" class="form-control input-md">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-md-2 control-label" for="tipo">Tipo: </label>
							<div class="col-md-4">
								<input ng-model="local.tipo" id="tipo" name="tipo" type="text" placeholder="Unidade" class="form-control input-md">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-md-2 control-label" for="descricao">Descricao: </label>
							<div class="col-md-10">
								<input ng-model="local.descricao" id="descricao" name="descricao" type="text" placeholder="Descricao" class="form-control input-md">
							</div>
						</div>
					</div>
					<!-- Button -->
					<div class="row">
						<div class="form-group">
							<div class="col-md-4">
								<button id="logar" name="cadastrar" class="btn btn-success">Cadastrar</button>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-md-4">
			<h2>Filtrar Mapa</h2>
			<form ng-submit="filtroMapa($('select').val())">
				<select>
					<option ng-repeat="l in locais" value="{{l.tipo}}">{{l.tipo}}</option>
				</select>
			</form>
		</div>
	</div> -->
</div>



</div>