<!DOCTYPE html>
<html ng-app = "appSistemaSaude" lang="pt-br">
	<head>
	<base href="/"/>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
		<link rel="stylesheet" href="./css/map.css"/>
		<title> Portal Saude Coletiva</title>
	</head>
	<body >
	
		<!--<nav class="navbar navbar-dark bg-inverse">
			
				<a class="navbar-left " href="/">
			        <img alt="Brand" src="http://icon-icons.com/icons2/807/PNG/48/hospital-2_icon-icons.com_66067.png" />
		      	</a>
				
				<div class = "navbar-right">
					<a href="/login" data-toggle="modal" data-target="#login-modal" class = "btn btn-primary">Login</a>
					<a href="/cadastro-usuario" class = "btn btn-primary"> Cadastrar</a>
				</div>
		</nav>-->

<nav class="navbar navbar-light navbar-fixed-top" style="background-color: #FAF0E6;" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle btn btn-ffffff" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"  >
        <span class="sr-only">Toggle navigation</span>
        <i class="glyphicon glyphicon-triangle-bottom"></i>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="/home">Inicio<!--<img alt="Brand" src="./img/img04.png" height="30" width="35"/>  --></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/login"><i class="glyphicon glyphicon-user"></i> Login <span class="sr-only">(current)</span></a></li>
        <li><a href="/cadastro-usuario">Cadastre-se</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
      	
        <li><a href="/mapa-urgencia-emergencia"><strong>Veja nossas sedes</strong></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <!-- /.container -->
	
		<div ng-view = "ng-view">
		
		</div>
	
	</body>
	<footer>
		<script src="./js/jquery-3.1.1.min.js"></script>
		<script src="./js/bootstrap.min.js"></script>
		<script type="text/javascript" src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script type="text/javascript" src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAZbZ8G4ZdQknbbgMyivx-vedsCoZx8aM"></script>
		<script type="text/javascript" src="./js/jquery.googlemap.js"></script>
		<script src="./js/app.js"></script>
		<script src="./controller/uue-controller.js"></script>
		<script src="./controller/login-controller.js"></script>
		<script src="./controller/cadastro-usuario-controller.js"></script>
		<script src="./controller/home-controller.js"></script>
		  <script type="text/javascript" src="./controller/map.js"></script>
		 <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
	</footer>
</html>